<div class= "container" >
  <div class= "col-md-8">
      <%=form_for(@album) do |f| %>
        <% if @album.errors.any?%>
          <% @album.errors.full_messages.each do |error| %>
            <%= alert_generator error%>
          <%end%>
        <% end %> 
        <div class= "form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control', placeholder: 'Enter your title' %>
        </div>
       
        <div class= "form-group">
          <%= f.text_field :description, class: 'form-control', rows: 10, placeholder: 'Enter your description' %>
        </div>
        
        <div class= "form-group">
          <%= f.collection_select :category_id, Category.order(:name), :id, :name, include_blank: true %>
        </div>
        
        <div class = "form-group">
          <%= f.text_field :client, class: 'form-control', placeholder: 'Enter clients name' %>
        </div>

        <div class="form-group">
          <label class= "btn btn-primary">
           Upload a image file thumb<%= f.file_field :image_thumb, style: 'display:none;' %>
          </label>   
        </div> 
        
        <div class="form-group">
          <label class= "btn btn-primary">
           Upload a image file 1<%= f.file_field :image_1, style: 'display:none;' %>
          </label>   
        </div> 
        
        <div class="form-group">
          <label class= "btn btn-primary">
           Upload a image file 2<%= f.file_field :image_2, style: 'display:none;' %>
          </label>   
        </div> 

        <div class="form-group">
          <label class= "btn btn-primary">
           Upload a image file 3<%= f.file_field :image_3, style: 'display:none;' %>
          </label>   
        </div>

        <div class="form-group">
          <label class= "btn btn-primary">
           Upload a image file 4<%= f.file_field :image_4, style: 'display:none;' %>
          </label>   
        </div> 
        <div class="form-group">
          <%= f.submit "Submit", class: 'btn btn-primary' %>
        </div>
      <% end %>  
  </div>       
</div>      


