<div class= "row"></div>
<div class "col-md-12">
  <%= form_for(@category, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <% if @category.errors.any? %>
      <div id="error_explananation">
        <h2><%= pluralized(@category.errors.count, "error")%> prohibited this form from being saved: </h2>
        <ul>
          <% @category.errors.full_message.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <div class= "control-label col-md-2">
        <h1><%= f.label :name, "Enter the category" %></h1>  
      </div>
      <div class ="col-md-8">
        <%= f.text_field :name, class: "form-control", placeholder: "Enter the category name", autofocus: true %>
      </div>
       <div class= "form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= f.submit(@category.new_record? ? "Create category" : "Update my category name", 
              class: "btn btn-primary btn-lg btn-xlarge") %>
        </div> 
      </div>           
  <% end %>
</div>